<div class="postings">
    <ul id="tabnav">
        <li class="${models.Category.WANTED}"><a href="@{Application.listWanted()}" class="tab">GESUCHT</a></li>
        <li class="${models.Category.OFFERED}"><a href="@{Application.listOffered()}" class="tab">GEBOTEN</a></li>
    </ul>
#{if _postings?.size() > 0}
    <table>
    #{list items:_postings, as:'p'}
        <tr name="modal" href="#details">
            <td>${p.subject}</td>
            <td>&mdash; ${p.creator.displayName}
        </tr>
    #{/list}
    #{postingItemDetails p /}
    <script type="text/javascript" charset="${_response_encoding}">
        $('tr').hover(function () {
            $(this).toggleClass('hovered');
        });
    </script>
    </table>
#{/if}
#{else}
    <div class="empty">
        Keine.
    </div>
#{/else}
</div>