<div class="postings">
    <ul id="tabnav">
        <li class="${models.Category.WANTED}"><a href="@{Application.listWanted()}" class="tab">GESUCHT</a></li>
        <li class="${models.Category.OFFERED}"><a href="@{Application.listOffered()}" class="tab">GEBOTEN</a></li>
    </ul>
#{if _postings?.size() > 0}
    <table>
    #{list items:_postings, as:'p'}
        <colgroup>
            <col class="creator" />
            <col class="subject" />
        </colgroup>

        <tr name="modal" href="#details">
            <td>${p.creator.displayName}</td>
            <td>${p.subject}</td>
        </tr>
    #{/list}
    #{postingItemDetails p /}
    </table>
#{/if}
#{else}
    <div class="empty">
        Keine.
    </div>
#{/else}
</div>