#{extends 'main.html' /}
#{set title:'Home' /}

<a href="#dialog" name="modal" onclick="document.forms[0].reset()">INSERAT ERFASSEN</a>

<div id="boxes">
    <div id="dialog" class="window">
        #{form @Application.createPosting()}
            <div>
                Email: <input type="email" name="eMail"/>
            </div>
            <div>
                Name: <input type="text" name="displayName"/>
            </div>
            <div>
                Titel: <input type="text" name="subject"/>
            </div>
            <div>
                Beschreibung: <input type="text" name="description"/>
            </div>
            <div>
                <input type="submit" value="SENDEN"/>
                <input type="cancel" class="close" value="ABBRECHEN"/>
            </div>
        #{/form}
    </div>
    <!-- Needed to fill whole screen -->
    <div id="mask"/>
</div>

<div class="postings">
    <h3>Aktuelle Inserate:</h3>

    #{if postings.size() > 1}
        #{list items:postings, as:'posting'}
        <ul>
            <div class="posting">
                <li>${ posting.activated.yesno('Active', 'Inactive') } &mdash; ${posting.subject} </li>
            </div>
        </ul>
        #{/list}
    #{/if}
    #{else}
        <div class="empty">
            Keine.
        </div>
    #{/else}
</div>